<div>
  <div *ngIf="!isWaiting">
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
      type="text"
      placeholder="Search a location"
      aria-label="Search a location"
      (change)="filterChanged($event)"
      (blur)="isSearching = false"
    />
  </div>
  <div
    class="text-white animate-spin"
    *ngIf="isWaiting"
    class="flex justify-between items-center"
  >
    Searching...
  </div>
</div>
