<div class="container">
  <div class="ring" [ngStyle]="{
    'height.px': size, 'width.px': size}"
  >
    <div class="speed">
      <div [ngStyle]="{  'font-size.px': size/1.9, color: value > -1 ? 'red' : 'blue' }">
        {{ value | number : "1.0-0" }}
      </div>
    </div>
    <img
      class="needle"
      height="30px"
      width="3px"
      alt="needle"
      src="/assets/weather/needle.png"
      [ngStyle]="{
        'height.px': size/2 ,transform: 'rotate(' + value * 2 + 'deg) translate(-25%, -50%)'
      }"
    />
  </div>
</div>
